.bannerBackground {
  /* background-image: "/images/spooky-house.jpg"; */
  background-image: url("../../assets/images/spooky-house.jpg");
  height: 95vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
}

.boxGrid {
  height: 50vh;
  width: 50vw;
}

.boxImage2 {
  background-image: url("../../assets/images/skeleton-party.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: cover;
}

.boxImage1 {
  background-image: url("../../assets/images/pumpkin-clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* background-position: bottom; */
  background-size: cover;
}

.boxText {
  background-color: grey;
}

.countdown-banner {
  color: rgb(170, 90, 0);
  font-size: 7vh;
  font-family: "Permanent Marker", cursive;
}
.spacer {
  padding: 2rem;
}

.brand {
  color: black;
}

.countdown-timer {
  font-size: 10vh;
  color: white;
}

.ad-text {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-size: 5rem;
  text-align: center;
  padding-bottom: 3rem;
  color: black;
}

@media only screen and (max-width: 768px) {
  .boxGrid {
    width: 100vw;
  }
}
